/* import roboto font from google */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import "./reset.css";

:root {
  --width: 540px;
  --white: #fff;
  --primary-color: #3498db; /* a blue color */
  --secondary-color: #2ecc71; /* a green color */
  --background-color: #ecf0f1; /* a light gray color */
  --text-color: #2c3e50; /* a dark gray color */
  --error-color: #f25948; /* a red color */
  --light-grey: #d3d3d3; /* a light grey color */
  --medium-grey: #a9a9a9; /* a medium grey color */
  --dark-grey: #696969; /* a dark grey color */
  --light-pink: rgb(234, 194, 192);
  --light-green: rgb(175, 213, 217);
}

/* define standard font sizes */
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.font-small {
  font-size: 0.8rem;
}

.font-medium {
  font-size: 1rem;
}

.font-large {
  font-size: 1.2rem;
}

/* define standard font weights */

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  display: flex;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none !important;
  border: none !important;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
}

button:hover {
  background-color: var(--primary-color);
}

.button-danger {
  background-color: var(--error-color);
}

.button-danger:hover {
  background-color: var(--dark-grey);
}

.button-success {
  background-color: var(--secondary-color);
}

.button-success:hover {
  background-color: var(--primary-color);
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--background-color);
  font-size: 1rem;
  margin-right: 1rem;
}

input[type="text"]:focus {
  outline: 1px solid var(--primary-color);
}
